<%= form_for(current_user.user_trips.build(attended_trip_id: trip.id), html: {class: "attend-submit"}) do |f| %>
  <div><%= f.hidden_field :attended_trip_id %></div>
  <%= button_tag(type: 'submit', class: "favorite-button") do %>
  <i class="medium material-icons light-green-text text-darken-4">check</i>
  <h6><%= @trip.attendees.count %> attended</h6>
  <% end %>
<% end %>