<%= form_for(current_user.user_trips.find_by(attended_trip_id: trip.id),
             html: { method: :delete , class: "cancel-submit"}) do |f| %>
  <%= button_tag(type: 'submit', class: "favorite-button") do %>
  <i class="medium material-icons light-green-text text-darken-4">beenhere</i>
   <h6><%= @trip.attendees.count %> attended</h6>
  <% end %>
<% end %>
