<%= form_for(Favorite.new, html: {class: "favorite-submit"} ) do |f| %>
  <%= hidden_field_tag "trip", "#{trip.id}" %>
  <%= button_tag(type: 'submit', class: "favorite-button") do %>
  <i class="medium material-icons amber-text text-accent-4">star_border</i>
  <h6><%= @trip.favorites.count %> favorites</h6>
  <% end %>
<% end %>
