<div class="container">
  <h1>Create A New Day Trip</h1>

<%= react_component("TripCreate") %>


<% if @errors %>
  <div>
    <% @errors.each do |message| %>
      <ul>
        <li class="error-message"><%= message %></li>
      </ul>
    <% end %>
  </div>
<% end %>

</div>
