<input id="pac-input" class="controls" type="text"
     placeholder="Enter a location">
 </div>
 <div id="map"></div>

<div id="card">

</div>

<div id="saved-location-holder">
</div>

 <script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&libraries=places&callback=initMap"
     async defer></script>
