<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h3>Inbox</h3>
      <%= link_to "Compose", new_conversation_path, class: "waves-effect waves-light btn deep-orange" %>
    </div>
  </div>

  <div class="row">
    <%= render 'mailbox/folders' %>
  </div>

  <div class="row">
    <% if is_conversation %>
        <%= render 'conversations/form' %>
    <% else %>
        <%= render partial: 'conversations/conversation', collection: messages %>
    <% end %>
  </div>

</div>

</div>
