<!-- Home page if not logged in -->
<div class="container center-align">

<p>Video Background goes here</p>

<p>This is the home page if not logged in</p>


<p> Lots of stuff about our site will go here </p>
</div>