<!-- Home page if not logged in -->
<%= render partial: 'video_header' %>
<div class="container center-align">


<p>This is the home page if not logged in</p>


<p> Lots of stuff about our site will go here </p>
</div>