<div class="video-container">
    <div class="video-fade">
        <video autoplay loop id="header-video">
          <source "<%= video_tag( 'localeyes.mp4' ) %>" type="video/mp4">
            <h2>localeyes</h2>
        </video>
    </div>
    <div id="overlay">
        <div class="section hide-on-small-only">
            <p>localeyes</p>
            <h5>An app that connects tourists to day trips curated by locals.</h5>
        </div>
        <a href="/tags" class="waves-effect waves-light btn-large deep-orange hoverable">explore</a>

    </div>
</div>
