<% if user_signed_in? %>
  <%= render partial: 'video_header' %>

<div class="container center">
<h2>Trending Trips</h2>
  <% @featured.each do |featured| %>
    <p><%= "#{featured.name}, created by #{featured.creator.formatted_name} #{time_ago_in_words(featured.created_at)} ago" %></p>
  <% end %>
</div>

<% else %>
<%= render partial: 'new_user_home' %>
<% end %>