<% if user_signed_in? %>
  <%= render partial: 'video_header' %>

<div class="container">
  <h2>Trending Trips</h2>
  <div class="row">
  <% @featured.each do |featured| %>
    <div class="col s12 m6 m6">
      <%= render partial: 'trips/trip_card', locals: { trip: featured } %>
    </div>
  <% end %>
  </div>
</div>

<% else %>
<%= render partial: 'new_user_home' %>
<% end %>