
<h1> trips by tag name </h1>

 <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <%@tags.each do |tag| %>
                <div class="chip" id="tag-bubbles">
                  <%=link_to "##{tag.name}", tag_path(tag) %>
                  </div>
                <% end %>
            </div>
            <div class="card-action">
              <%= link_to "Search for Trips", trips_path %></a>
            </div>
          </div>
        </div>
      </div>