<div class="container">
  <h1> trips by tag name </h1>

 <div class="row">
  <%@tags.each do |tag| %>
    <div class="chip grey lighten-5 bounceInDown animated hoverable">
      <%= link_to "##{tag.name}", tag_path(tag) %>
    </div>
  <% end %>
</div>
<%= link_to "Search Trips", trips_path, class: "waves-effect waves-light btn light-blue" %>

</div>
