<div class="container section center">
  <meta http-equiv="refresh" content="5; url='/'"/>
  <h2>Sorry This Page Cannot Be Found</h2>

  <img src="/assets/logo-with-text.png" class="error-logo">

  <h5>
    Redirecting you to the home page in 5 seconds
  </h5>

  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
    <div class="circle"></div>
  </div>
</div>
</div>
</div>
