/*
*= require chosen
*/
@import "materialize/components/color";
$primary-color: color("light-blue", "lighten-1") !default;
$background-color: color("grey","lighten-3");
$primary-text: color("grey", "darken-4");
$accent-text: color("deep-orange", "lighten-1");
@import 'materialize';
@import "materialize/extras/nouislider";
@import "animate";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  color: $primary-text;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#map {
  width: 100%;
  height: 500px;
}

#trip-map {
  width: 100%;
  height: 500px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#tag-bubbles {
  margin: .7% .5% .7% .5%;
}

.chip-container {
  display: inline-block;
  padding: 10px;
}

.animate-tag {
  background-color: #ff5722;
  margin: 25px 10px;
  width: 70px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  height: 30px;
  border-radius: 30px;
  padding: 5%;
}

.card.img {
    width: 50px;
    height: auto;
}

.card-action.lowercase a {
  text-transform: lowercase !important;
}

.card-action.lowercase {
  text-transform: lowercase;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}

h6 {
  font-weight: lighter;
}

.delete-button {
  border: none;
  background-color: Transparent;
  outline: none;
  color: #039be5;
}

.delete-button:active:focus {
  border: none !important;
  background-color: Transparent !important;
  outline: none !important;
   box-shadow: none !important;
}

.delete-button:active {
  border: none !important;
  background-color: Transparent !important;
  outline: none !important;
   box-shadow: none !important;
}


.d-button {
  display: inline-block;
}

.e-link {
  display: inline-block;
}

h5 {
  font-weight: lighter;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #03a9f4 ;
  box-shadow: 0 1px 0 0 #03a9f4 ;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #03a9f4 ;
  box-shadow: 0 1px 0 0 #03a9f4 ;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #03a9f4 ;
  box-shadow: 0 1px 0 0 #03a9f4 ;
}

.input-field.new-location input[type=text]:focus {
  border-bottom: 1px solid #f57c00 ;
  box-shadow: 0 1px 0 0 #f57c00 ;
}

.input-field.new-location input[type=text] {
  border-bottom: 1px solid #e0e0e0 ;
  box-shadow: 0 1px 0 0 #e0e0e0;
}

.trip-card {
  width: 93%;
}

.trip-card a {
  color: white;
}

.card-action i {
  padding-left: 2em;
}

#search-button {
 float:left;
 margin-right: 3%;
}

#explore-button {
 float:left;
}

.index-trip-column {
margin-left: 1px;
}

input#submit {
  background:none;
  border:none;
  text-transform: uppercase;
}

.favorite-button {
  background:none;
  border:none;
}

#delete-post {
  background:none;
  border:none;
  text-transform: uppercase;
}

#added {
  color:  #ffab40 ;
  text-transform: uppercase;
}



.tiny-font {
  font-size: .75em;
}

.trip-index-header {
  padding-top: 3%;
  clear:both;

}
