/*
*= require chosen
*= require social-share-button
*/
@import "materialize/components/color";
$primary-color: color("light-blue", "lighten-1") !default;
$background-color: color("grey","lighten-3");
$primary-text: color("grey", "darken-4");
$accent-text: color("deep-orange", "lighten-1");
@import 'materialize';
@import "materialize/extras/nouislider";
@import "animate";
@import "social-share-button";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  color: $primary-text;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1 0 auto;
}

#map {
  width: 100%;
  height: 300px;
}

#trip-map {
  width: 100%;
  height: 300px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#tag-bubbles {
  margin: .7% .5% .7% .5%;
}

.chip-container {
  display: inline-block;
  padding: 10px;
}

.animate-tag {
  background-color: #ff5722;
  margin: 25px 10px;
  width: 70px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  height: 30px;
  border-radius: 30px;
  padding: 5%;
}


.card-action.lowercase a {
  text-transform: lowercase !important;
}

.card-action.lowercase {
  text-transform: lowercase;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}

h6 {
  font-weight: lighter;
}

.delete-button {
  border: none;
  background-color: Transparent;
  outline: none;
  color: #039be5;
}

.delete-button:active:focus {
  border: none !important;
  background-color: Transparent !important;
  outline: none !important;
   box-shadow: none !important;
}

.delete-button:active {
  border: none !important;
  background-color: Transparent !important;
  outline: none !important;
   box-shadow: none !important;
}


.d-button {
  display: inline-block;
}

.e-link {
  display: inline-block;
}

h5 {
  font-weight: lighter;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #03a9f4 ;
  box-shadow: 0 1px 0 0 #03a9f4 ;
}

.input-field.reply input[type=text]:focus {
  border-bottom: 1px solid #03a9f4 ;
  box-shadow: 0 1px 0 0 #03a9f4 ;
}




.input-field input[type=password]:focus {
  border-bottom: 1px solid #03a9f4 ;
  box-shadow: 0 1px 0 0 #03a9f4 ;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #03a9f4 ;
  box-shadow: 0 1px 0 0 #03a9f4 ;
}

.input-field.new-location input[type=text]:focus {
  border-bottom: 1px solid #f57c00 ;
  box-shadow: 0 1px 0 0 #f57c00 ;
}

.input-field.new-location input[type=text] {
  border-bottom: 1px solid #e0e0e0 ;
  box-shadow: 0 1px 0 0 #e0e0e0;
}



.trip-card a {
  color: white;
}

.card-action i {
  padding-left: 2em;
}

#search-button {
 float:left;
 margin-right: 3%;
}

#explore-button {
 float:left;
}

.trip-index-header {
  padding-top: 3%;
  clear:both;
}

#trip-index-container {
  width: 90%;
}

.index-trip-column {
margin-left: 1px;
}

input#submit {
  background:none;
  border:none;
  text-transform: uppercase;
}

.favorite-button {
  background:none;
  border:none;
}

#delete-post {
  display: inline-block;
  background:none;
  border:none;
  text-transform: uppercase;
}

#submit {
  display: inline-block;
  margin-right: 25%;
}

#added {
  color:  #ffab40 ;
  text-transform: uppercase;
}

.tiny-font {
  font-size: .75em;
}

.trip-index-header {
  padding-top: 3%;
  clear:both;
}

#new-locations-left-column {
  margin-left: 15%;
}


img.inbox-img{
    width: 75px;
    height: auto;
    border: 3px solid #757575;
}

.message-card {
  width: 93%;
}

.message-card a {
  color: white;
}

.chosen-select {
  display: block;
}

.chosen-choices {
  width: 200px !important;
}


footer {
  margin-top: 10%;
  font-size: .8em;
}

img.profile-pic {
    width: 100px;
    height: auto;
    border: 3px solid #757575;
}

.username {
  font-weight: lighter;
  font-size: 2em;
}

.fb-login {
  width: 300px;
}

.popup {
  display: none;
  width: 300px;
  height: 50px;
  background-color: #000;
  bottom: 0;
  right: 50px;
  position: fixed;
}


/* Video Background Clases  */

.video-container {
  top: -4em;
}

#header-video {
    top: 0;
    position: static;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#overlay {
  position: absolute;
  top: 8%;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  z-index: 2147483647;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

#overlay p {
  font-size: 18vmin;
  font-weight: 300;
  margin-bottom: 0;
}

#overlay h5 {
  margin-top: 0;
  font-size: 4vmin;
}

#overlay a {
  margin-top: 4em;
}

video {
    display: inline-block;
    position: fixed;
}
.video-fade {
  opacity: .95;
}

.video-container .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px;
}
/* End of Video Background Classes*/

.navbar-fixed {
  z-index: 9999;
}

.logo-image {
  width: auto;
  height: 2em;
}