<div id="attend_form">
<% if current_user.attending?(@trip) %>
  <h4>You are attending <%= @trip.name %></h4>
  <%= render partial: 'cancel', locals: {trip: @trip} %>
<% else %>
  <%= render 'attend' %>
<% end %>
</div>