<div class="container">
  <h1><%= @trip.name %></h1>

  <div id="trip-map"></div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initMap"></script>
</div>
