<div class="container">
  <h1><%= @trip.name %></h1>
  <div id="trip-map"></div>

  <% if user_signed_in? %>
    <div><%= render 'attend_form' %></div>
  <% end %>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('trip-map'), {
        center: {lat: 40.712784, lng: -74.005941},
        zoom: 15,
      });

      var marker = new google.maps.Marker({
        position: {lat: 40.712784, lng: -74.005941},
        map: map,
        title: 'Hello World!'
      });

      var marker2 = new google.maps.Marker({
        position: {lat: 40.712784, lng: -74.005941},
        map: map,
        title: 'Hello World!'
      });

      var marker3 = new google.maps.Marker({
        position: {lat: 40.7127, lng: -74.005941},
        map: map,
        title: 'Hello World!'
      });

      var marker4 = new google.maps.Marker({
        position: {lat: 40.712784, lng: -74.005941},
        map: map,
        title: 'Hello World!'
      });

      var marker5 = new google.maps.Marker({
        position: {lat: 40.712784, lng: -74.005941},
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
</div>
