<div class="container">
  <% if user_signed_in? %>
  <div><%= render 'attend_form' %></div>
  <% end %>
<br>

  <div>
    <%= render 'favorite_form' %>
  </div>

  <%= react_component( 'TripShow', { trip: @trip, locations: @trip.locations, comments: @trip.comments } ) %>
</div>
