<footer class="light-blue darken-2 hide-on-med-and-down">
  <div class="row">
    <div class="col s12 m12 l6 center">
      <h5 class="white-text">localeyes</h5>
        <p class="grey-text text-lighten-4">An app that connects tourists to day trips curated by locals.</p>
        <p class="white-text"><%= link_to "Find a Trip", trips_path, class: "white-text" %>  |  <%= link_to "Create a Trip", new_trip_path, class: "white-text" %></p>
    </div>
    <div class="col s12 m12 l6 center">
      <h5 class="white-text">creator</h5>
      <ul>
        <!-- <li><a class="grey-text text-lighten-3" href="https://github.com/ChristynBudzyna">Christyn B.  |  </a> -->
        <a class="grey-text text-lighten-3" href="https://github.com/elankvitko">Elan K.  |  </a>
        <!-- <a class="grey-text text-lighten-3" href="https://github.com/hannataylor">Hanna T.  |  </a> -->
        <!-- <a class="grey-text text-lighten-3" href="https://github.com/jmcolella">John C.</a></li> -->
        <p class="white-text"> © 2016 localeyes, all rights reserved</p>
        <br>
      </ul>
    </div>
  </div>
</footer>
