<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">localeyes</h5>
        <p class="grey-text text-lighten-4">An app that connects tourists to day trips curated by locals.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Creators</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/ChristynBudzyna">Christyn B.</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/elan71592">Elan K.</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/hannataylor">Hanna T.</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/jmcolella">John C.</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 localeyes, all rights reserved
    <a class="grey-text text-lighten-4 right" href="https://github.com/elan71592/Localeyes">Source Code</a>
    </div>
  </div>
</footer>